/* artwork 3 */
.art-3 {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: beige;
}

button {
  cursor: pointer;
}

#portfolio {
  margin: auto;
  margin-top: 50px;
  width: 800px;
  min-height: 800px;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  color: black;
}

.project {
  position: relative;
  background: #f2dad7;
  overflow: hidden;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #474545;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(182, 177, 229, 0.9);
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #d1a39e;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: #d1a39e;
}

#art-3-artists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#art-3-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "concept concept-description concept-description concept-description"
    "artist-1 artist-1 artist-2 artist-2"
    "artist-1 artist-1 artist-2 artist-2"
    "comments comments comments comments";
}
.concept {
  grid-area: concept;
}
.concept-description {
  grid-area: concept-description;
}
.artist-1 {
  grid-area: artist-1;
}
.artist-2 {
  grid-area: artist-2;
}
.comments {
  grid-area: comments;
}
